thumbnail {
    .column-content {
        display: inline-block;
        width:100%;
    }
    
    img {
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }
}
